footer{
    background-color: $colorfooter;
    @include mobile{
        background-color: $colorfooter;
        width: 100%;
        position: relative;
        top: 3rem;
    }
    fieldset{
        text-align: center;
        legend{
            i{
                font-size: 2rem;
                padding: 2rem;
                &:hover{
                    color: white;
                }
                @include mobile{
                    position: relative;
                     right: 0rem;
                     bottom: .8rem;
                }
            }
        }
        .pr{
            display: inline-block;
            position: relative;
            color: $colortextofooter;
            h3{
                position: relative;
                right: 15rem;
                @include mobile{
                    position: relative;
                    right: 0rem;
                    margin-bottom: 1.5rem;
                }
            }
            p{
                position: relative;
                right: 15.5rem;
                @include mobile{
                    position: relative;
                     right: 0rem;

                }
                a{
                    text-decoration: none;
                    color: $colortextofooter;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
        }
        .info{
            display: inline-block;
            color: $colortextofooter;
            @include mobile{
                position: relative;
                right: 19rem;
                margin-top: 2rem;
            }
            h3{
                position: relative;
                left: 19rem;
                @include mobile{
                    position: relative;
                    margin-bottom: 1.5rem;
                }
            }
            p{
                position: relative;
                left: 19rem;
            }
        }
        .copy{
            position: relative;
            right: 14rem;
            @include mobile{
                position: relative;
                right: 0rem;
            }
        }
    }
    

}