$colorheader: #033353;
$colorfooter: #033353;
$colortextofooter: white;
$colortexto: black;
$colorstrong: #033353;
$colorh1: white;
$colormenu: white;
$colormenuhover: #033353;
$colormenufondohover: white;
$colorh2: #065a92;
$coloreslogan: #033353;
$colortxtcomoinvertir: #033353;
$colorbordecajas: #065a92;
$colorlearnmore: #033353;
